In [1]:
print("Hello")

Hello

# Let's learn Python

In [ ]:
a=5

In [ ]:
print(a)

In [ ]:
help(print)

In [ ]:
#singleline commment  
'''
Multli line comment
'''

# Variables and Data types

In [7]:
#How do you calculate factorial of 100 ?

In [11]:
import math
print(math.factorial(5))

120

In [15]:
first = 20
print(first)
print(type(first))
print(id(first))

20
<class 'int'>
140713647904136

In [16]:
second=first
print(second)
print(type(second))
print(id(second))

20
<class 'int'>
140713647904136

In [17]:
a = 2.3
print(type(a))

<class 'float'>

In [22]:
c = 'd'
print(type(c))

<class 'str'>

In [24]:
hi = 'Rishav'
hii = "Rishav"
h='''Rishav'''
print(hi)
print(hii)
print(h)

Rishav
Rishav
Rishav

In [164]:
a = 3+4j
print(a)
print(type(a))

(3+4j)
<class 'complex'>

# 1 tab-> 4 spaces;

In [28]:
print("Hello")
if True:
    print("world")

Hello
world

In [29]:
print("Hello")
    print("World")

IndentationError: unexpected indent (122304739.py, line 2)

In [165]:
#explicit line joining
a = "this is a string \
this is a new line\
"
print(a)

this is a string this is a new line

In [34]:
#Escape Sequences
print("hello \n World")

hello
 World

In [ ]:
print("hello \t World")

In [ ]:
print(r"this r is a raw string \n")

# Input and Output in Python

In [170]:
list_num = "1 2 3 4 5".split( )
print(list_num)

new_list = []
for num in list_num:
    new_list.append(int(num))
print(new_list)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

# Print Function

In [171]:
print("my", "name", "is", "abhishek", 21,35,2.3)

my name is abhishek 21 35 2.3

In [ ]:
#end argument
#sep argument

In [172]:
print("hello")
print("world")

hello
world

In [173]:
print("Hello", end=' ')
print("World")

Hello World

In [174]:
print("Hello", end=' \n ')
print("World")

Hello
 World

In [175]:
print("list", "of", "words", sep='--')

list--of--words

In [176]:
print("list", "of", "words", sep='\n')

list
of
words

In [178]:
mystring = "capital of %s is %s"%("india","delhi")
print(mystring)

capital of india  is delhi

In [179]:
mystring = "capital of {} is {}".format("india","delhi")
print(mystring)

capital of india is delhi

# Operators and Expression

In [180]:
#Arithmetic Operators
#Logical operators
#Conditional operators
#Bitwise Operators
#Assignment Operators

In [181]:
2+3

5

In [182]:
2-3

-1

In [183]:
2*3

6

In [184]:
5%2

1

In [186]:
5/4

1.25

In [187]:
5//4

1

In [190]:
5**2

25

In [ ]:
#logical operators  --   not,and,or

In [191]:
weather="sunny"
if weather=="rainy" or True:
    print("something")
else:
    print("something else")

something

In [193]:
a=2
a=a+1
print(a)

3

In [198]:
import pickle
file = 'file.data'
obj = [1,2,3]

#write to file
f=open(file,'wb')
#dump the object to the file
pickle.dump(obj,f)
f.close()
f=open(file,'wb')
#Load the obj from the file
obj=pickle.load(f)
print(obj)
f.close()

UnsupportedOperation: read

In [200]:
name = "coding club"
if name == "coding club":
    print("A")
elif name == "coding":
    print("B")
else:
    print("C")

A

# Loops -> for loop,while loop,for each loop

In [202]:
i=1
while i<=20:
    print(i,end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [203]:
#range function

In [206]:
a=range(1,10)
#   for i in range(start,end+1,step or jump)
for i in range(1,11,1):
    print(i,end =" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#print the reverse loop

In [208]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [210]:
name  = "rishav"
for i in name:
    print(i, end=' ')

r i s h a v

In [211]:
name  = "rishav"
for i in name:
    print(i)

r
i
s
h
a
v

In [213]:
name  = "rishav"
for i in name:
    if i=='h':
        break
    print(i, end=' ')

r i s

In [214]:
# python doesn;t support any empty block
# you need to use pass

# Functions in Python

In [216]:
def say_hello():
    print("hello")

In [ ]:
say_hello()

In [218]:
def say_hello(name="Rishav"):
    print("hello",name)

In [ ]:
#local and global variable

In [227]:
x=50
def func(x):
    print('value of x is ',x)
    x=2
    print('value of x is ', x)
func(x)
print(x)

value of x is  50
value of x is  2
50

# Keywords arguments

In [233]:
def func(name,roll,age,group):
    print(name,roll,age,group)

In [235]:
func(roll=2,name="Rishav",group=2,age=21)
func(2,'rishav',1,21)

Rishav 2 21 2
2 rishav 1 21

# Var ags

In [243]:
def total(a=5, *numbers, **keyvalue):
    print(a)
    
    for item in numbers:
        print(item,end= ' ')
    for first,second in keyvalue.items():
        print(first,second)

In [244]:
total(10,20,30,3,4,5,6,7,8,"rishav", age=21 , year=20245)

10
20 30 3 4 5 6 7 8 rishav age 21
year 20245

# List Comprehension

In [245]:
numbers=input().split()
list_num=[]
for i in numbers:
    list_num.append(int(i))

12345

In [246]:
list_num

[12345]

In [248]:
list_num = [int(every_number)for every_number in input().split()]
print(list_num)
print(type(list_num))
#list comprehension

1 2 3 4 5
[1, 2, 3, 4, 5]
<class 'list'>

# Python data strings

In [ ]:
#strings
#lists
#tuples
#dictionaries
#sets

In [ ]:
#strings
a="rishav"
aa='rishav'
aaa='''rishav'''

In [ ]:
#strings are immutable -> we can;t change the string index

# Operations

In [252]:
#concatenation
#membership test
#strings methods

In [253]:
a="hello"
b="hi"
print(a+b)

hellohi

In [254]:
#slicing
a = "this is a python session at ai mafia"

In [257]:
a.find("python")

10

In [258]:
a.find("at")

25

In [259]:
a[12]

't'

In [270]:
sliced = a[12:24]

In [271]:
print(sliced)

thon session

In [272]:
sliced = a[12:24:2]

In [273]:
print(sliced)

to eso

In [279]:
abc="coding"
rev  = abc[::-1]
print(rev)

gnidoc

In [280]:
#membership test

In [281]:
#membership operator
if "in" in abc:
    print("present")

present

In [285]:
#string methods

In [293]:
a="coding club"
a.lower()

'coding club'

In [294]:
a.upper()

'CODING CLUB'

In [295]:
a.title()

'Coding Club'

In [296]:
a.capitalize()

'Coding club'

In [297]:
len(a)

11

In [298]:
a.find("club")

7

In [299]:
a.index("club")

7

In [300]:
#find=index , find will give me value at null but index will give me an exception

In [308]:
strn = "coding club"
def check_substring(strn,sub):
    if string.find(sub)==-1:
        print("Not found")
    else:
        print("Found")
        
check_substring("coding club", "ngd")

# Lists (Heterogeneous array)


It is mututable

In [323]:
l = ["mango","banana","apple"]
l2 = list(["mango",2,2.5,"values"])
print(l,type(l))
print(l2,type(l2))

['mango', 'banana', 'apple'] <class 'list'>
['mango', 2, 2.5, 'values'] <class 'list'>

In [324]:
l[2]="guava" # It is mutuable
print(l)

['mango', 'banana', 'guava']

In [329]:
l=[1,2,3,4]

l.extend(l)
print(l)
l.append(l)
print(l)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, [...]]

In [330]:
len(l)

9

In [333]:
lst = [1,2,3]
lst.insert(2,"apple")
print(lst)

[1, 2, 'apple', 3]

In [344]:
lst.pop()

3

In [345]:
print(lst)

[1, 2]

In [348]:
del lst[1]
print(lst)

[1]

In [349]:
lst = [1,2,3]
lst*2

[1, 2, 3, 1, 2, 3]

In [351]:
str = "abc"
str*3

'abcabcabc'

In [352]:
lst.reverse()

In [353]:
print(lst)

[3, 2, 1]

In [354]:
print(lst)

[3, 2, 1]

In [355]:
lst[::-1]

[1, 2, 3]

In [357]:
numbers  = [3,4,5,1,2,6,7]
sorted_list = sorted(numbers)
print(sorted_list)

[1, 2, 3, 4, 5, 6, 7]

In [359]:
arr = [2,3,1,4,5]
arr.sort()
print(arr)

[1, 2, 3, 4, 5]

In [360]:
lst = [1,2,3,4]
abc= lst
abc.append(6)
print(lst)
print(abc)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]

# TUPLE    (immutable)

In [361]:
t = (1,2,3,"rishav",3.14)
print(t,type(t))

(1, 2, 3, 'rishav', 3.14) <class 'tuple'>

In [365]:
t = ('rishav')
print(t,type(t))

rishav <class 'str'>

In [366]:
t1 = ('rishav',)
print(t1,type(t1))

('rishav',) <class 'tuple'>

In [368]:
t = (1,2,3,4,5,34,4,5,5,6,67,66,7,8)
t.count(1)

1

In [369]:
t.count(69)

0

In [370]:
t.count(5)

3

In [371]:
t.index(5)

4

In [372]:
print(1 in t)

True

In [ ]:
print(69 in t)

In [374]:
min(t)

1

In [375]:
max(t)

67

In [376]:
sum(t)
t=sorted(t)
print(t)

[1, 2, 3, 4, 4, 5, 5, 5, 6, 7, 8, 34, 66, 67]

# SETS

In [ ]:
# unordered collection of items , we can have unique elements only , mutable

In [377]:
s = {1,2,3,4}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [380]:
s1 = set()
print(s1)

set()

In [383]:
s1.add(2)

In [384]:
print(s1)

{2}

In [385]:
s1[0] # can't access

TypeError: 'set' object is not subscriptable

In [386]:
s.update([5,3,3,9,8])

In [387]:
s

{1, 2, 3, 4, 5, 8, 9}

In [388]:
s.discard(8)

In [390]:
print(s)

{1, 2, 3, 4, 5, 9}

In [391]:
s.remove(2)
print(s)

{1, 3, 4, 5, 9}

In [392]:
s.pop() #remove random elements

1

In [393]:
print(s)

{3, 4, 5, 9}

In [394]:
s.clear()

In [395]:
print(s)

set()

# Operation Set

In [398]:
set1={1,2,3,4,5,6}
set2={2,3,5,6,7,8}
print(set1|set2) # union
print(set1.union(set2)) #union

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [397]:
print(set1&set2) #intersection

{2, 3, 5, 6}

In [399]:
print(set1-set2) #difference

{1, 4}

In [400]:
print(set1^set2) # X-OR operator

{1, 4, 7, 8}

In [401]:
set1.issubset(set2)

False

In [402]:
a={1,2,3}
b={1,2}

In [405]:
b.issubset(a)

True

In [404]:
a.issubset(b)

False

# Dictionaries

In [409]:
dictionary = {"name":"rishav","age":21}
print(dictionary,type(dictionary))

{'name': 'rishav', 'age': 21} <class 'dict'>

In [418]:
set1 = {1,2,3} #for set need at least 1 element
dictionary = {} #you can in dictionary an empty set
print(set,type(set1))
print(dictionary,type(dictionary))

<class 'set'> <class 'set'>
{} <class 'dict'>

In [420]:
# dictionary['key']
print(dictionary.get('name'))

None

In [421]:
dictionary['city'] = 'delhi'

In [422]:
dictionary

{'city': 'delhi'}

In [423]:
dictionary.popitem()

('city', 'delhi')

In [427]:
dictionary.clear()

In [433]:
dictionary = {"name":"rishav","age":21}

In [434]:
dictionary.keys()

dict_keys(['name', 'age'])

In [435]:
dictionary.values()

dict_values(['rishav', 21])

In [436]:
dictionary.items()

dict_items([('name', 'rishav'), ('age', 21)])

In [437]:
for k,v in dictionary.items():
    print("key is {} and value is {}".format(k,v))

key is name and value is rishav
key is age and value is 21

# Advance Concepts Python

# Classes and Objects (OOPS)
# Exception Handling

In [439]:
class Student:
     pass
p = Student()
print(p)

<__main__.Student object at 0x000002B1586F8990>

In [440]:
#self keyword

In [441]:
class Student:
     def sayHello(self):
         print("Hello")
p = Student()
print(p.sayHello())

Hello
None

In [442]:
class Student:
     def sayHello():
         print("Hello")
p = Student()
print(p.sayHello())

TypeError: Student.sayHello() takes 0 positional arguments but 1 was given

In [444]:
class Student:
    def sayHello(self):
        print("hello")

In [447]:
p=Student().sayHello()
print(p)
print(type(p))

hello
None
<class 'NoneType'>

In [449]:
class Student:
    def __init__(self,name) :
        self.name = name
    def sayHello(self):
        print("hello",self.name)

In [450]:
Student("Rishav").sayHello()

hello Rishav

In [454]:
class Person():
    
    #class variable
    number = 0
    
    def __inti__(self,name):
        
        #Initialise some data
        self.name=name
        print("Initialising {}".format(self.name))
        
        number+=1
    def sayHello(self):
        #greet

        print("Hello {}".format(self.name))
    def how_many(self):
        print("number of persons {} ",format(self.number))

In [457]:
person1=Person("rishav")
person1.sayHello()
Person.how_many()

person2=Person("jha")
person2.sayHello()
Person.how_many()

TypeError: Person() takes no arguments